body {
	display: flex;
	justify-content: flex-start;
	flex-wrap: no-wrap;
	font-weight: 600;
	gap: 100px;

}

.social-network_method1 {
	width: 400px;
	min-height: 200px;
	border: 1px solid #F7DD97;
	display: flex;
	justify-content: center;
	font-weight: 600;
	    align-items: center;
}
.social-network_method1:hover {
	background-color: #DBFFD1 ;
}

.social-network-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
i:hover {
	cursor: pointer;
	color: red;
	
}
a:hover {
	
}
a { 
	display: inline-block;
	padding-left: 20px;
	
}
.c-2 a {
	display: inline-block;
	padding-left: 20px;
	
}
.c-2 img:hover {
	color: black;
	border-bottom: 1px solid black;
}
img {
	width: 60px;
	height: 60px;
}
